.header{
    min-height: 740px;
    width: 100%;
    background-image: url(../../assets/img/header-bg.svg);
    background-position:center;
    background-repeat: no-repeat;
}

.background_img{
    max-width: 100%;
}

.header_logo{
    margin-top: 100px;
}

.header_title{
    color: var(--color-grey-3);
}

.header_p-1{
    color: var(--color-grey-5);
    line-height: 2rem;
    max-width: 900px;
}

.header_p-2{
    line-height: 150%;
    font-size: var(--text-1);
    color: var(--color-grey-3);
}

.anchor_link{
    text-decoration: none;
    color: inherit;
}